
.analytics {
  min-height: 870px;
}

.analytics__top {
  padding: 90px 0 40px 0;
}

.analytics__header {
  color: var(--section-name-color);
  text-align: center;
  font-size: 12px;
  font-family: var(--textfont);
  font-weight: 700;
}

.analytics__title {
  margin-top: 20px;
  color: var(--title-color);
  text-align: center;
  font-size: 38px;
  font-weight: 700;
  font-family: var(--mainfont);
}

.analytics__subtitle {
  margin-top: 15px;
  color: var(--text-color);
  text-align: center;
  font-size: 19px;
  font-family: var(--textfont);
  font-weight: 400;
}

.analytics__picture {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.analytics__picture-img {
  width: 100%;
  height: 100%;
  border: 1px hidden;
  border-radius: 12px;
  box-shadow: 0 10px 10px 7px rgb(136 140 133 / 15%);
}

.analytics__icons {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.analytics__icons-widjets,
.analytics__icons-services,
.analytics__icons-styles,
.analytics__icons-requests {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.analytics__icons-services,
.analytics__icons-styles,
.analytics__icons-requests {
  margin-top: 50px;
}

.analytics__icons img {
  max-width: 50px;
  max-height: 50px;
}

.analytics__icons-logo {
  margin: 7.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analytics__icons-items {
  margin-left: 7.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}
.analytics__icons-items-title {
  text-align: center;
  font-size: 22px;
  font-family: var(--textfont);
  color: var(--title-color);
  font-weight: 700;
}

.analytics__icons-items-text {
  font-size: 17px;
  font-family: var(--textfont);
  color: var(--text-color);
  font-weight: 400;
}

@media (min-width: 768px) {
  .analytics__title {
    font-size: 47px;
  }

  .analytics__icons {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .analytics__icons-widjets,
  .analytics__icons-services,
  .analytics__icons-styles,
  .analytics__icons-requests {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .analytics__icons-services,
  .analytics__icons-styles,
  .analytics__icons-requests {
    margin-top: 0;
  }

  .analytics__icons img {
    max-width: 70px;
    max-height: 70px;
  }

  .analytics__icons-logo {
    margin: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .analytics__icons-items-title {
    font-size: 24px;
  }
}



@media (min-width: 780px) {
  .analytics__title {
    font-size: 47px;
  }

  .analytics__icons {
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .analytics__icons-widjets,
  .analytics__icons-services,
  .analytics__icons-styles,
  .analytics__icons-requests {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .analytics__icons-services,
  .analytics__icons-styles,
  .analytics__icons-requests {
    margin-top: 0;
  }

  .analytics__icons img {
    max-width: 70px;
    max-height: 70px;
  }

  .analytics__icons-logo {
    margin: 7.5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .analytics__icons-items-title {
    font-size: 24px;
  }
}


.clock {
  width: 6rem;
  height: 6rem;
  border: 4px solid var(--section-name-color);
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  padding: 0.4rem;
  box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.1),
  inset 0 0 0 2px var(--light-text-color),
  inset 0 0 6px var(--title-color),
  0 0 2px   var(--title-color);
  
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}

.hand {
  width: 50%;
  height: 2px;
  background-color:  var(--title-color);
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);

}