.benefits_basis {
    padding-top: 150px;
    padding-bottom: 75px;
}

.benefits_header {
    text-align: center;
    color: var(--section-name-color);
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
}

.benefits_title {
    text-align: left;
    color: var(--title-color);
    font-family: 'Work Sans', sans-serif;
    font-size: 56px;
    margin-top: 20px;
    width: 100%;
}



