header {
    background: #0387fc;
    height: 845px;
    background-image: 
    linear-gradient(to right, #053beee0, rgba(24, 152, 238, 0.842)),
    url(https://res2.weblium.site/res/5d9f40ea7889780027ffb893/5ed4012cb247d3002282a1ea_optimized_1920);
    background-size: 2000px 1000px;
}        

.big__banner__image {
    width: 600px;
    height: 350x;
}

/*.logo__header {
  
}
*/


.any__idea {
    font-size: 77px;
    font-family: 'Work-sans', sans-serif;
    font-weight: bold;
    color: #fff;
}

.all__hrefs {
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #ffffffcf;
}

/* .features {
   
}

.benefits {
    
}

.testimonials {
    
}

.contacts {
    
}
*/

.description__about__app {
    color: #fff;
    font-size: 17px;
    font-family: 'Hind', sans-serif;
    
}

.free__trial {
    font-family: 'Hind', sans-serif;
    font-size: 15.4px;
    color: #2c2e38;
    font-weight: bold;
    
}

.buy__for__only {
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    font-weight: bold;
    
}

.no__credit__card {
    color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    font-weight: bold;
    
}

.link__button {
    text-decoration: none;
    color: #ffffffcf;
}