/*стилі до 2 секції*/
.management {
    padding-top: 150px;
    padding-bottom: 75px;
    background-color: var(--gray-backgroundcolor);
}

@media (min-width: 768px) {
    .website_management-wraper {
        display: flex;
        min-height: 500px;
    }
}

.management__header{
    text-align: left;
    color: var(--section-name-color);
    font-family: var(--textfont);
    font-size: 12px;
    font-weight: 700;
    padding-top: 36px;
}
@media (min-width:768px) {
    .management__header {
        font-size: 13px;
    }
}

.management__title{
    font-size: 38px;
    font-family: var(--mainfont);
    text-align: left;
    color: var(--title-color);
    margin-top: 20px;
    width: 100%;
}
@media (min-width: 768px) {
    .management__title {
        font-size: 56px; 
    }
}
.management__subtitle{
    text-align: left;
    color: var(--text-color);
    margin-top: 15px;
    width: 100%;
    font-size: 19px;
    font-family: var(--textfont);
    font-weight: 400;
}

.management__image {
    border-radius: inherit;
    padding-right: 15px;
    position: relative;
    margin: auto;
        
}
@media (min-width:768px) {
    .management__image {
        width: 50%;
    }
}

.management-carousel__btn-prev, .management-carousel__btn-next {
    position: absolute;
    height: 100%;
    background-color: transparent;
    border: none;
    width: 120px;
}
.management-carousel__btn-next {
    top: 0;
    right: 15px;
}
.management-carousel__btn-next:hover {
    background: rgb(0,0,0);
    background: linear-gradient(270deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);

}
.management-carousel__btn-prev:hover {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0) 100%);
}
.management__slide > img {
    width: 100%;
}
/* .management-carousel__slide {
    width: 100%;
    height: 100%;
} */
.management__wrapper {
    padding-left: 15px;
}
@media (min-width:768px) {
    .management__wrapper {
        width: 50%;
    }
}
.management__check-mark {
    width: 24px;
    height: 24px;
    padding-bottom: none;
    margin-right: 8px;
    margin-bottom: -6px;
}

.management__bottom {
    width: 165px;
    height: 50px;
    border: none;
    padding: 13px 34px;
    background-color:var(--button-color);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: var(--textfont);
    margin-top: 60px;
    border-radius: 4px;
    border-width: 2px;
}
.management__bottom:hover {
    background-color:var(--dark-button-color);
    color: var(--light-text-color);
    cursor: pointer;
}
.management__check-box {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
    margin-bottom: 20px;
    margin-left: -12px;   
}

.management__check-list {
    padding: 0 12px;
    margin-bottom: 16px;
    font-family: var(--textfont);
    font-size: 17px;
    font-weight: 400;
    color: var(--text-color);
}
