.mob_app_cotnent{
    display: flex
}
.mobile_app_header {
    text-align: center;
    color: var(--section-name-color);
    font-family: Hind, sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
}
.mob__app__text__header{
    color: var(--title-color);
    font-size: 56px;
    
 }
 .mob_text{
    font-size: 19px;
    color: var(--text-color);
    position: left;
 }
 .mob_app_text{
    width: 506px ;
 }
 .switch_to_the_app_store{
    width: 150px ;
    margin-top: 0px;
 }
 .switch_to_the_googleplay{
    width: 200px;
    margin-bottom: px;
 }
 .phone_picture{
    height: %;
 }