.slider-companies {
    margin: 0 160px;
    padding: 120px 15px 75px 15px;
}

.subtitle {
    text-align: center;
    color: var(--text-color);
    font-size: 19px;
    margin-bottom: 70px;
    font-family: var(--textfont);
    font-weight: 700;
}

.subtitle__colored-text {
    color: var( --section-name-color);
}

.slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.carousel-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.slider-item {
    background-color: rgb(249, 252, 255);
    width: 250px;
    max-width: 100%;
    margin: auto;
    object-fit: contain;
    padding: 20px 40px;
    height: 100px;
}

.arrow-prev, .arrow-next{
    width: 40px;
    height: 40px;
    color: #a6a4a4;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .slider-companies {
        padding: 0 40px;
        margin: 70px auto;
    }
}

@media (max-width: 770px) {
    .slider-item {
        width: 150px;
    }
}

@media (max-width: 650px) {
    .slider-item {
        width: 200px;
    }
}
