.slider-companies{
    margin: 0 160px;
    padding: 120px 15px 75px 15px;
}

.subtitle{
    text-align: center;
    color: var(--text-color);
    font-size: 19px;
    margin-bottom: 70px;
    font-family: var(--textfont);
    font-weight: 700;
}

.subtitle__colored-text{
    color: var( --section-name-color);
}

.slider{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.slider-item{
    height: auto;
    width: 25%;
    padding: 20px 40px;
    margin-bottom: 15px;
    background-color: rgb(249, 252, 255);
}

.slider__left-arrow , .slider__right-arrow{
    width: 40px;
}