@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Work+Sans:wght@700&display=swap');

:root {
    --firstcolor: rgb(44, 46, 56);
    --secondcolor: rgb(3, 135, 252);
    --thirdcolor: rgb(111, 116, 144);
    --fourcolor: rgb(90, 94, 117);
}

* {
    font-family: 'Work Sans', 'Hind', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 992px) {
    .container {
        max-width: 990px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 765px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}
/* Вище код не рухати вставляти свій нище*/



/*стилі до 2 секції*/
.management {
    display: flex;
    padding: 40px;
}

.management__image {
    border-radius: inherit;
    
}
.management__check-mark {
    width: 20px;
    height: 20px;
}
.management__bottom {
    width: 165px;
    height: 50px;
    border: 2px solid ;
    padding: 13px 34px;
}



/* Стилі до 4 секції */

.analytics {
    padding: 0 32px;
}

.container {
    padding-top: 115px;
    padding-bottom: 40px;
}

.analytics__picture {
    margin-top: 60px;
}

.analytics__picture-img {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: "object-fit:cover";
    margin-top: 55px;
}



.analytics__icons {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 115px;

}

.analytics__icons-block {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
}

.analytics__icons-items {
    flex-basis: 25%;
    max-width: 25%;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

.analytics__icons-items-logo {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: auto;
}

.analytics__icons-items-title {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0;
    position: relative;
    max-width: 100%;
    text-align: end;
}

.analytics__icons-items-text {
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0;
    position: relative;
    max-width: 100%;
    text-align: end;
}



/* Стилі до 8 секції */
img {
    width: 100px;
    height: 100px;
}




/* Ivanyshyn Svyatoslav */
/* Це стилі до 8 секції */


