@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Work+Sans:wght@700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url(section_8/pricing__plans.css);
@import url(section_9/contacts.css);
@import url(footer/footer.css);

:root {
    --firstcolor: rgb(44, 46, 56);
    --secondcolor: rgb(3, 135, 252);
    --thirdcolor: rgb(111, 116, 144);
    --fourcolor: rgb(90, 94, 117);
}

* {
    font-family: 'Work Sans', 'Hind', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 992px) {
    .container {
        max-width: 990px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 765px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
}
/* Вище код не рухати вставляти свій нище*/

/* Імпорти своїх стилів підключати наверху файла і давати назву блоку/секції */

/*стилі до 2 секції*/
.management {
    padding-top: 150px;
    padding-bottom: 75px;
}
.website_management-wraper {
    display: flex;
}

.management__header{
    text-align: left;
    color: var(--secondcolor);
    font-family: 'Hind', sans-serif;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
}
.management__title{
    font-size: 56px;
    text-align: left;
    color: var(--firstcolor);
    margin-top: 20px;
    width: 100%;
}
.management__subtitle{
    text-align: left;
    color: var(--thirdcolor);
    margin-top: 15px;
    width: 100%;
    font-size: 19px;
    font-family: "Hind", sans-serif;
}
.management__image {
    border-radius: inherit;
    width: 50%;
    padding-right: 15px;
}

.management__img {
    width: 100%;
    height: 100%;
}
.management__wrapper {
    width: 50%;
    padding-left: 15px;
}
.management__check-mark {
    width: 20px;
    height: 20px;
    padding-bottom: none;
    margin-right: 8px;
}

.management__bottom {
    width: 165px;
    height: 50px;
    border: none;
    padding: 13px 34px;
    background-color: rgb(3, 135, 252);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-family: Haid sans-serif;
    margin-top: 20px;
}
.management__check-box {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.management__check-list {
    padding: 0 12px;
    margin-bottom: 16px;
}



/* Стилі до 4 секції */

.analytics__header {
    text-align: center;
    color: var(--secondcolor);
    width: 100%;
    margin-top: 90px;
  }
  
  .analytics__title {
    font-size: 56px;
    text-align: center;
    color: var(--firstcolor);
    margin-top: 20px;
    width: 100%;
  }
  
  .analytics__subtitle {
    text-align: center;
    color: var(--thirdcolor);
    margin-top: 15px;
    width: 100%;
    font-size: 19px;
    font-family: "Hind", sans-serif;
  }
  
  .analytics__picture {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 15px;
    box-shadow: 0 10px 10px 7px rgb(136 140 133 / 15%);
  }
  
  .analytics__picture-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
  }
  
  .analytics__icons {
    position: relative;
    padding-bottom: 115px;
    display: flex;
    justify-content: space-between;
  }
  
  .analytics__icons-block {
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    margin: 0 -7.5px;
  }
  
  .analytics__icons-logo {
    display: block;
    height: 100%;
    max-width: 100%;
    margin: auto;
  }
  
  .analytics__icons-items {
    flex-basis: 25%;
    max-width: 25%;
    justify-content: flex-start;
    font-size: 100%;
    margin: 7.5px;
  }
  
  .analytics__icons-items-title {
    font-size: 24px;
    font-family: "Hind", sans-serif;
    color: var(--firstcolor);
  }
  
  .analytics__icons-items-text {
    font-size: 17px;
    line-height: 1.6;
    font-family: "Hind", sans-serif;
    color: var(--thirdcolor);
  }



/* Стилі до 8 секції */
img {
    width: 100px;
    height: 100px;
}