.testimonials {
    padding: 175.5px 0 75px 0;
    background: url("//res2.weblium.site/res/5efdf94ff3bc420021179c9f/5f17df32b90ac70023badf85_optimized_24.webp") center center / 24px repeat, rgba(255, 255, 255, 0.4);
}

.section-header {
    text-align: center;
    color: var(--section-name-color);
    font-family: var(--textfont);
    font-size: 13px;
    font-weight: 700;
    width: 100%;
}

.section-title {
    font-size: 56px;
    text-align: center;
    font-family: var(--mainfont);
    color: var(--title-color);
    margin-top: 20px;
    width: 100%;
}

.section-subtitle {
    text-align: center;
    color: var(--text-color);
    margin-top: 15px;
    width: 100%;
    font-size: 19px;
    font-family: 'Hind', sans-serif;
}

.testimonials__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: calc(100% + 30px);
}

.testimonials__item {
    margin: 0 15px 0 15px;
    background: #ffffff;
    padding: 35px 55px 35px 55px;
    box-shadow: 0 10px 10px 7px rgb(136 140 133 / 15%);
    border-radius: 6px;
    flex-basis: 50%;
    max-width: 50%;
}

.testimonials__item-text {
    text-align: left;
    color: var(--text-color);
    width: 100%;
    font-size: 17px;
    font-family: var(--textfont);
    word-wrap: break-word;
}

.testimonials__item-author {
    margin-top: 20px;
}

.testimonials__item-author-photo {
    margin: 7.5px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.testimonials__item-author-name {
    font-size: 24px;
    text-align: left;
    font-family: var(--textfont);
    font-weight: 700;
    color: var(--title-color);
    margin-top: 7.5px;
    width: 100%;
}

.testimonials__item-author-position {
    text-align: left;
    color: var(--text-color);
    width: 100%;
    font-size: 14px;
    font-family: 'Hind', sans-serif;
    word-wrap: break-word;
}

.trial {
    padding: 175.5px 0 75px 0;
    background: url("//res2.weblium.site/res/5efdf94ff3bc420021179c9f/5f17df32b90ac70023badf85_optimized_24.webp") center center / 24px repeat, rgba(255, 255, 255, 0.4);
}

.trial .container {
    padding: 75px 47px 125px 47px;
    background: url("//res2.weblium.site/res/5efdf94ff3bc420021179c9f/5f17b96940c52a00227664c6_optimized_1699.webp") 50.94% 43.06% / cover no-repeat;
    border-radius: 6px;
}

.trial .section-title {
    color: #ffffff;
}

.trial .section-subtitle {
    color: #ffffff;
}

.play-icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin: 30px -10px -10px -10px;
}

.button {
    margin: 10px;
    padding: 13px 34px;
    font-size: 14px;
    font-family: var(--textfont);
    color: var(--section-name-color);
    font-weight: 700;
    text-align: center;
    text-decoration: none;
}

.trial-button {
    width: 165px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #ffffff;
}

.trial-button:hover {
    background: var(--section-name-color);
    color: #fff;
    cursor: pointer;  
}

.hash-link {
    padding: 13px 0;
}

.hash-link:hover {
    color: #4fabfd;
    text-decoration: underline;
}
