
.analytics {
  padding-top: 140px;
}

/*.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}*/

.analytics__header {
  color: var(--secondcolor);
  text-align: center;
  font-size: 13px;
  font-family: "Hind", sans-serif;
  font-weight: bold;
}
.analytics__title {
  margin-top: 20px;
  color: var(--firstcolor);
  text-align: center;
  font-size: 56px;
  font-family: "Work Sans", sans-serif;
}
.analytics__subtitle {
  margin-top: 15px;
  color: var(--thirdcolor);
  text-align: center;
  font-size: 19px;
  font-family: "Hind", sans-serif;
}

.analytics__picture {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.analytics__picture-img {
    width: 100%;
    height: 100%;
  border: 1px hidden;
  border-radius: 12px;
  box-shadow: 0 10px 10px 7px rgb(136 140 133 / 15%);
}
.analytics__icons {
  padding-top: 30px;
  padding-bottom: 140px;
  display: flex;
  justify-content: space-between;
}

.analytics__icons-block {
  margin: 0 -7.5px;
  display: flex;
  
}

.analytics__icons-logo {
  display: flex;
  justify-content: flex-start;
}

.analytics__icons-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7.5px;
}
.analytics__icons-items-title {
  text-align: center;
  font-size: 26px;
  font-family: "Hind", sans-serif;
  color: var(--firstcolor);
}
.analytics__icons-items-text {
  font-size: 17px;
  font-family: "Hind", sans-serif;
  color: var(--thirdcolor);
  margin: 0;
}
